<app-menu-admin></app-menu-admin>
<div class="container mt-4">
    <h1 class="bg-light px-5 py-4 text-center">Usuario</h1>
    <h3 class="mt-4">Lista de Usuarios</h3>
    <hr>
    <div class="mt-3">
        <button class="btn btn-outline-success" (click)="open(modal_registrar)"><i class="fa fa-plus"></i> Agregar</button>
    </div>

    <div class="table-responsive mt-4">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Rol</th>
                <th scope="col">Ubicación</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Admin</td>
                <td>Mz 1</td>
                <td>
                    <button class="btn btn-outline-primary mr-3" (click)="open(modal_registrar)"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Admin</td>
                <td>Mz 1</td>
                <td>
                    <button class="btn btn-outline-primary mr-3" (click)="open(modal_registrar)"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Admin</td>
                <td>Mz 1</td>
                <td>
                    <button class="btn btn-outline-primary mr-3" (click)="open(modal_registrar)"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Admin</td>
                <td>Mz 1</td>
                <td>
                    <button class="btn btn-outline-primary mr-3" (click)="open(modal_registrar)"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Admin</td>
                <td>Mz 1</td>
                <td>
                    <button class="btn btn-outline-primary mr-3" (click)="open(modal_registrar)"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Admin</td>
                <td>Mz 1</td>
                <td>
                    <button class="btn btn-outline-primary mr-3" (click)="open(modal_registrar)"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>

    <div class="text-center mt-4">
      <a [routerLink]="['/menu-admin']" class="btn btn-outline-primary mr-5"> <i class="fa fa-chevron-left mr-2"></i> Regresar al menu</a>
      <a [routerLink]="['/login']" class="btn btn-outline-danger">Salir</a>
    </div>
</div>



<ng-template #modal_registrar let-c="close" let-d="dismiss">
  <div class="modal-header px-4">
    <h4 class="modal-title" id="modal-basic-title">Registro de Usuario</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body px-4">
    <form>
        <div class="form-group">
          <label for="nombres">Nombres</label>
          <input type="text" class="form-control" id="nombres">
        </div>
        <div class="form-group">
          <label for="apellidos">Apellidos</label>
          <input type="text" class="form-control" id="apellidos">
        </div>
        <div class="form-group">
          <label for="telefono">Teléfono</label>
          <input type="tel" class="form-control" id="telefono">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="direccion">Dirección</label>
          <input type="text" class="form-control" id="direccion">
        </div>
        <div class="form-group">
          <label for="ubicacion">Ubicación de Trabajo</label>
          <input type="text" class="form-control" id="ubicacion">
        </div>
        <div class="form-group">
          <label for="rol">Rol</label>
          <input type="text" class="form-control" id="rol">
        </div>
        <div class="form-group">
            <label>Estado</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                <label class="form-check-label" for="gridRadios1">
                  Activo
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                  Desativado
                </label>
              </div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c('Save click')">Guardar</button>
    <button type="button" class="btn btn-outline-dark" (click)="d('cross click')">Cancelar</button>
  </div>
</ng-template>