<div class="h-full d-flex justify-content-center align-items-center">
    <div class="card rounded-3 shadow mx-auto flex-shrink-0 w-100" style="max-width: 350px;">
        <form class="px-4 py-5">
            <img  style="max-width: 100px;" class="mx-auto d-block mb-4" src="./assets/img/logo.png" alt="">
            <h4 class="text-center text-success mb-5 font-weight-bold">Registro de encendido de grupos electrogenos</h4>
            <div class="input-group flex-nowrap mb-4">
                <span class="input-group-text" id="addon-wrapping"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Usuario..." aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap mb-4">
            <span class="input-group-text" id="addon-wrapping"><i class="fa fa-unlock-alt"></i></span>
            <input type="password" class="form-control" placeholder="Contraseña..." aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <button type="button" class="btn btn-success mr-4" [routerLink]="['/menu-admin']">Ingresar</button>
                <button type="button" class="btn btn-outline-secondary">Limpiar</button>
            </div>
        </form>
    </div>
</div>